---
import Layout from '../layouts/Layout.astro';
import Post from '../components/Post.astro';
import posts from '../../scripts/data.json';
import days from '../../scripts/days.json';


let menu: Array<number> = [];

const fillMenu = (from: number, to: number) => {
	menu = []
	for(let i = from; i <= to; i++) {
		menu.push(i);
	}
}

const SHOW_DAYS = 14;

const searchDay = Astro.url.searchParams.get('day');
// get day of month
const date = new Date();
let month = date.getMonth() + 1; // return month in base 0

let day = searchDay ? parseInt(searchDay) : date.getDate();


if(month != 10) { // if not October show last 14 days
	day = 31;
}

// day = 29
if(day < 15) {
	fillMenu(1, 14);
} else {
	fillMenu(day-day+(day-SHOW_DAYS+1), day);
}


const getPosts = (day: number) => {
	console.log('POSTS', posts.posts.length)
	return posts.posts.filter((post: any) => {
		// const postDay = new Date(post.created_at * 1000).getDate();
		// if(!postDay) {
		// 	return true;
		// }
		return post.day === day;
	}).sort((a, b) => {
		return b.likes - a.likes;
	});
}


---

<Layout title="Bricktober 2024">
	<div class="xl:max-w-[1000px] w-full p-1 xl:p-0 m-auto mt-20">
		<main class="p-1 w-full mb-3">
			<h1 class="font-bold mb-2 text-center text-[4rem]">Empieza el <span class="text-gradient">Bricktober 2024</span></h1>
			<p class="instructions">
				Este reto esta organizado por <a href="https://instagram.com/juanjobricks" target="_blank" class="text-gradient">@juanjobricks</a><br />
				Cada dia de la semana tiene una tematica diferente, puedes ver los detalles en el instagram de <a href="https://instagram.com/bricktober2024" target="_blank" class="text-gradient">@bricktober2024</a> para participar!
			</p>
			<div class="w-full grid grid-cols-4 xl:grid-flow-col xl:grid-cols-auto gap-1 my-3">
				{day > 1 && <a class="text-xl bg-[#23262d] text-center p-3 rounded" href={`/?day=${day-1}`}>&lt;</a>}
				{menu.map((d) => (
					<a class={`text-xl bg-[#23262d] text-center p-3 rounded cursor-pointer ${d > day ? 'bg-gray-700' : ''} ${d === day ? 'active-day' : ''}`} href={`/?day=${d}`}>D{d}</a>
				))}
				{day < 31 && <a class="text-xl bg-[#23262d] text-center p-3 rounded" href={`/?day=${day+1}`}>&gt;</a>}
			</div>

			<div class="flex w-full justify-center text-3xl my-6">
				<!-- @ts-ignore -->
				Palabra del dia: <span class="text-gradient font-bold mx-3">{days[day]}</span>
			</div>
			<div class="grid grid-cols-2 xl:grid-cols-3 gap-3 flex-wrap w-full h-full">
				{getPosts(day).map((post) => (
					// @ts-ignore
					<Post {...post}  />
				))}
			</div>
			{getPosts(day).length === 0 && <p class="text-center w-full">No hay publicaciones para este dia</p>}
		</main>
	</div>
</Layout>

<style>
	.active-day {
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		border: 1px solid rgba(var(--accent-light), 25%);
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
</style>
