---
interface Props {
	title: string;
}

const { title } = Astro.props;



---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<footer class="w-full mt-3 text-center p-4 text-sm">
			<a href="https://instagram.com/foxkdev" target="_blank" class="text-gray-400">Desarrollado por @foxkdev</a>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	body{
		position: absolute;
		margin: 0;
		padding: 0;
		top:0;
		right:0;
		bottom:0;
		left:0;

		font-family: system-ui, sans-serif;
		background: #13151a;
		color: white;
		display: block;
	}

	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
